<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Grades</h1>
<table style="border: 2px solid; position:relative">
<thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Course</th>
    <th>Grade</th>
  </tr>
</thead>
  <tr th:each="grade: ${grades}">
    <td th:text="${grade.getStudent().getName()}"></td>
    <td th:text="${grade.getStudent().getSurname()}"></td>
    <td th:text="${grade.getCourse().getName()}"></td>
    <td th:text="(${grade.getGrade()})"></td>
    <td th:text="${grade.getTimestamp()}"></td>

  </tr>
  </tbody>
</table>
    <a href="/courses">Back</a>
</div>
</body>
</html>